/* footer */
footer{
    bottom: 0%;
    width: 100%;
    clear: left;
    text-align: center;
    width: 100%;
    font-size: 1.1em;
    position: fixed;
    padding-top: .5em;
}

/* size of name in header */
#name{
    font-size: 3.5em;
}

/* html and body sizing for footer compared to content */
html, body{
    min-height: 100%;
    margin-bottom: 100px;
    clear: both;
}